<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Historia</h2>
                    <h3 class="section-subheading text-muted">Así empezó todo.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Un regalo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El mismísimo día de mi boda, me llega un regalo de una amiga en la distancia. Un pequeño y precioso álbum hecho de mil papeles y fotos nuestras.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">¡Scrap!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Al de una temporada abren una tienda cerca de mi casa y allí descubro que aquel pequeño álbum era de scrap... ¡y me encanta!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Aprendiendo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En un viaje a Francia descubro varias tiendas gigantes de scrap, nuevos materiales y nuevas técnicas que aprender.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Creciendo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Me encanta lo que hago. Amigos y familia me piden encargos continuamente y disfruto viendo cómo a la gente le gusta lo que hago así que decido ampliar horizontes... nace MadeByMeShop.com :)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4 style="padding-top: 10%">MADE<br/>BY ME</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>